#a {
   
    text-align: center;
    outline: 1px solid indianred;
}
  
#b {
    
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#c {
  
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#d {
    
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#e {
   
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#f {
    
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#g {
  
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#h {
   
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#e,
#f,
#g,
#h {
    
    text-align: center;
    outline: 1px solid indianred;
    
}
  
#i {
   
    text-align: center;
    outline: 1px solid indianred;
    
}